main {
  padding-bottom: -4rem; 
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

div:hover > .marker-label {
  opacity: 1;
}

input::placeholder {
  color: #E0E0E0;
  font-family: 'Georgia', cursive;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}